:root {
  --font-ibm-plex-mono: "IBM Plex Mono", monospace;
  --font-kanit: "Kanit", sans-serif;
  --font-commissioner: "Commissioner", sans-serif;
  --font-abc-whyte-inktrap: "ABCWhyteInktrap", sans-serif;

  --line-light: hsla(0, 0%, 100%, .2);
  --line-dark: rgba(0, 0, 0, .1);
  --line-thickness: 1px;

  --menu-width: 67px;
  --menu-height: 51px;
  --menu-pad: 20px;
  --menu-radius: 10px;
  --menu-submenu: 0px;
  --menu-top: calc(var(--menu-pad) + var(--menu-height));
  --menu-bottom: calc(var(--menu-pad));
  --menu-left: calc(var(--menu-pad) + var(--menu-width));
  --menu-right: calc(var(--menu-pad));

  --sideMargin: var(--menu-pad, 2rem);
  --headerHeight: var(--menu-height, 5rem);
  --sideNavWidth: var(--menu-width, 7rem);
  --btnHeight: 4rem;
  --blockPadding: 4rem;
  --borderRadius: 1rem;
  --topMargin: calc(var(--sideMargin) + var(--headerHeight));

  --z-frame: 100;
  --z-footer: 200;
}

html,
body {
  font-family: ABCWhytePlus;
}

.canvas-container {
  position: fixed;
  inset: 0;

  pointer-events: none;
}

#smooth-wrapper {
  pointer-events: none;
}

.ui-container {
  color: #fff;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  clip-path: inset(var(--topMargin) 0 var(--sideMargin) 0);
}

.sectionInner {
  padding: var(--sideMargin);
  padding-top: calc(var(--sideMargin) + var(--headerHeight));
}

@media only screen and (max-width: 767px) {
  .sectionInner {
    padding-bottom: var(--sideMargin);
  }
}

@media only screen and (min-width: 768px) {
  .sectionInner {
    padding-left: calc(var(--sideMargin) + var(--sideNavWidth));
  }
}

.type-body1 {
  font-feature-settings: "zero" on;
  font-family: var(--font-kanit);
  font-size: 1.5rem;
  font-variation-settings: "opsz" 0;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.3;
}

.type-caption3 {
  font-feature-settings: "zero" on;
  font-family: var(--font-ibm-plex-mono);
  font-size: 1rem;
  font-variation-settings: "opsz" 0;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.1;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .type-caption3 {
    font-family: var(--font-ibm-plex-mono);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 1.1;
  }
}

.caption {
  align-items: flex-start;
  display: flex;
  left: 2rem;
  position: absolute;
  top: 2rem
}

.caption__dot {
  background-color: currentColor;
  height: 4px;
  margin-right: .7rem;
  margin-top: .15rem;
  width: 4px
}

@media only screen and (min-width: 1600px) {
  .caption__dot {
    height: 5px;
    width: 5px
  }
}

.caption__text {
  white-space: pre-line
}

.title1 {
  position: relative
}

.title1__caption {
  left: 0;
  position: absolute;
  top: .2rem;
  width: 8rem
}

.title1__caption .caption {
  left: 0;
  position: relative;
  top: 0;
  will-change: transform
}

.title1__text .line {
  will-change: transform, opacity
}