/* 
* homeHero
 */
.ui-container section {
  pointer-events: none;
}

.homeHero .sectionInner {
  height: var(--100ui, 100%);
  position: relative;
}

.homeHero__inner {
  height: 100%;
  position: relative;
  will-change: opacity;
}

.homeHero__description {
  left: 3.5rem;
  position: absolute;
  top: 3.5rem;
  width: 29.6rem;
}

.homeHero__titleBlock {
  bottom: 3.5rem;
  height: 50rem;
  left: 6rem;
  position: absolute;
  width: 130rem;
}

@media only screen and (max-width: 767px) {
  .homeHero__titleBlock {
    bottom: 1.5rem;
    left: 2.5rem;
    width: 19rem;
  }
}

.homeHero__title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: ABCWhytePlus;
  font-size: 12vw;
  font-variation-settings: "wght" 700, "opsz" 0.5;
  letter-spacing: -0.04em;
  line-height: 0.76;
  /* opacity: 0; */
  position: absolute;
  text-transform: uppercase;
  will-change: opacity;

  white-space: nowrap;
}

.homeHero__title .dot {
  bottom: -0.1rem;
  font-size: 15.1rem;
  position: absolute;
}

.homeHero__title.keep {
  bottom: 18.2vw;
  left: 28.2vw;
}

@media only screen and (max-width: 767px) {
  .homeHero__title.keep {
    bottom: 9.8rem;
    left: 3rem;
  }
}

.homeHero__title.keep .dot {
  right: 2.4rem;
}

@media only screen and (max-width: 767px) {
  .homeHero__title.keep .dot {
    right: 0.7rem;
  }
}

.homeHero__title.protect {
  bottom: 8.7vw;
  left: 35.6vw;
}

@media only screen and (max-width: 767px) {
  .homeHero__title.protect {
    bottom: 4.8rem;
    left: 7rem;
  }
}

.homeHero__title.protect .dot {
  right: -1.1rem;
}

@media only screen and (max-width: 767px) {
  .homeHero__title.protect .dot {
    right: -0.4rem;
  }
}

.homeHero__title.reimagine {
  bottom: 0;
  left: 0;
}

.homeHero__title.reimagine .dot {
  right: -4.5rem;
}

@media only screen and (max-width: 767px) {
  .homeHero__title.reimagine .dot {
    right: -1.5rem;
  }
}

.homeHero__title .sub {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-ibm-plex-mono);
  font-size: 1.1rem;
  font-weight: 600;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 0.9rem;
  position: absolute;
  right: 100%;
  text-transform: uppercase;
  top: 0rem;
}

.homeHero .scrollIndicator {
  bottom: 3.5rem;
  position: absolute;
  right: 6.4rem;
}

.scrollIndicator {
  contain: layout;
  display: flex;
  will-change: opacity;
}

.scrollIndicator__text {
  margin-right: 1rem;
}

.scrollIndicator__arrow {
  height: 0.9rem;
  overflow: visible;
  position: relative;
  top: -0.3em;
  transform: rotate(-45deg);
  width: 0.9rem;
}

.scrollIndicator__arrow .leftLine,
.scrollIndicator__arrow .rightLine {
  background-color: #fff;
  position: absolute;
}

.scrollIndicator__arrow .leftLine {
  bottom: 0;
  left: 0;
  top: 0;
  transform-origin: left bottom;
  width: 1px;
}

.scrollIndicator__arrow .rightLine {
  bottom: 0;
  height: 1px;
  left: 5px;
  right: 0;
  transform-origin: left bottom;
}


/* 
* homeProjectIntro
 */

@media only screen and (min-width: 768px) {
  .homeProjectIntro__hero {
    width: 21.5vw;
    height: 22.4vw;
  }
}

.homeProjectIntro__media {
  background: url(/assets/images/project_intro_media.png) no-repeat center center / contain;
}

.homeProjectIntro [data-ani] {
  opacity: 0;
  transform: translateY(8vh);
}

.homeProjectIntro .js-line {
  opacity: 0;
}

.homeProjectIntro .caption {
  opacity: 0;
}

.homeProjectIntro__description {
  opacity: 0;
}

.homeProjectIntro .block--right {
  perspective: 1000px;
}

.homeProjectIntro__media {
  opacity: 0;
  transform: translate3d(-100%, 0, -500px) rotateY(50deg) scaleX(0.8);
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.homeProjectIntro__media::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  z-index: -1;
}

.homeProjectStory-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--100ui, 100%);
  opacity: 0;
}

.homeProjectStory-bg .parallax-bg {
  position: absolute;
  top: -25%;
  left: 0;
  width: 100%;
  height: 150%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  overflow: hidden;
  background: url(/assets/images/project_story_bg.jpg) no-repeat center center / cover;
  transform: translateZ(0);
  /* 하드웨어 가속 */
  backface-visibility: hidden;
  /* 최적화 */
  will-change: transform;
  /* 애니메이션 최적화 */
}

.homeProjectStory {
  opacity: 0;
}

.homeProjectStory [data-ani] {
  opacity: 0;
  transform: translateY(8vh);
}

/* 
* homeCollectionIntro
 */

/* .homeCollectionIntro__hero {
  width: 96%;
  height: 96%;
  background: url('/assets/images/collection_intro_img.png') no-repeat center center / contain;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  transform-origin: center center;
}

.homeCollectionIntro__heroWrap {
  perspective: 1200px;
  perspective-origin: center center;
  transform-style: preserve-3d;
} */

.homeCollectionIntro-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--100ui, 100%);
}

.homeCollectionIntro-bg__innerWrap {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  perspective: 1200px;
  perspective-origin: center center;
  transform-style: preserve-3d;

  z-index: 10;
}

.homeCollectionIntro-bg__inner {
  width: 36%;
  height: 100%;
  background: url('/assets/images/collection_intro_img.png') no-repeat center center / contain;

  transform-style: preserve-3d;
  will-change: transform;
  backface-visibility: hidden;
  transform-origin: center center;

  transform: translate3d(0, 0, 0) rotateY(-90deg) skew(-10deg, 10deg);
}

.homeCollectionIntro__heroWrap {
  perspective: 1200px;
  perspective-origin: center center;
  transform-style: preserve-3d;
}

.homeCollectionIntro-bg .rect-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  width: 200vh;
  height: 200vh;

  border-radius: 8vh;
}

.homeCollectionIntro-bg .rect-item:nth-child(1) {
  background-color: #968ADF;
}

.homeCollectionIntro-bg .rect-item:nth-child(2) {
  background-color: #6667AB;
}

.homeCollectionIntro-bg .rect-item:nth-child(3) {
  background-color: #968ADF;
}


/* 
* homeCollectionGallery
 */

.homeCollectionGallery__inner {
  perspective: 1200px;
  perspective-origin: center center;
  transform-style: preserve-3d;
}

.homeCollectionGallery .block--topleft,
.homeCollectionGallery .block--topright,
.homeCollectionGallery .block--bottom {
  opacity: 0;
}

.collectionGallery {
  transform: translate(0, -180%)
}


/* 
* the-footer
*/
.the-footer {
  height: var(--100ui, 100%);
}

.homeLaunch__inner {
  position: relative;

  width: 100%;
  height: var(--100ui, 100%);

  perspective: 1200px;
  perspective-origin: center center;
  transform-style: preserve-3d;
}

.singleCard {
  position: absolute;

  opacity: 0;
}

.singleCard--universe {
  background: url('/assets/images/singlecard_universe.png') no-repeat center center / contain;

  width: 400px;
  height: 380px;
  top: 44%;
  left: 44%;
  transform: translate(-50%, -50%) rotateY(-85deg);
}

.singleCard--keep {
  background: url('/assets/images/singlecard_keep.png') no-repeat center center / contain;

  width: 200px;
  height: 400px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) rotateY(-90deg);
}

.singleCard--factions {
  background: url('/assets/images/singlecard_factions.png') no-repeat center center / contain;

  width: 400px;
  height: 200px;
  top: 75%;
  left: 45%;
  transform: translate(-50%, -50%) rotateY(-90deg);
}